<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>com.cpusentinel</string>

		<key>ProgramArguments</key>
		<array>
			<string>cpu-sentinel.sh</string>
			<string>-f</string>
			<string>process_list</string>
		</array>

		<key>StartInterval</key>
		<integer>120</integer>

		<key>StandardErrorPath</key>
		<string>err</string>

		<key>StandardOutPath</key>
		<string>log</string>

		<key>RunAtLoad</key>
		<true/>
	</dict>
</plist>
